@import '/src/global-styles/_index.scss';

.paginate {
  display: flex;
  padding: 16px 0;
  width: 100%;
  justify-content: center;
  align-content: center;

  ul {
    display: flex;
    height: 40px;
  }

  li {
    @include regular-text;
    display: block;
    height: 32px;
    width: 32px;
    margin: 0 1px;
    border: 1px solid $primary-text-color;
    border-radius: 4px;
    background-color: $opposite-primary-color;
    cursor: pointer;
  }

  li.active {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $opposite-primary-color;
  }

  li.active a {
    color: $opposite-primary-color;
  }

  li:hover {
    background-color: $primary-color;
    color: $opposite-primary-color;
    line-height: 30px;
  }

  li:first-child {
    margin: 0 8px 0 0;
  }
  li:last-child {
    margin: 0 0 0 8px;
  }

  a {
    @include regular-text;
    display: block;
    line-height: 30px;
    text-align: center;
  }
}
