$primary-color: #4eadc5; // kolor turkus
$secondary-color: #fff; // kolor np niezaznaczonego przycisku

$opposite-primary-color: #fafffd;
$opposite-secondary-color: #324b72;

$primary-background-color: #fff; // kolor tła

$primary-text-color: #324b72;
//$primary-incorrect-color: #de212b;
