@mixin regular-text {
  line-height: 150%;
  font-size: 16px;
  font-family: $primary-font-family;
  font-weight: $regular-font-weight;
  color: $primary-text-color;
}

@mixin medium-text {
  line-height: 150%;
  font-size: 16px;
  font-family: $primary-font-family;
  font-weight: $regular-font-weight;
  color: $primary-text-color;
}
